<%# <% title = @list.name %>
<%# <%= render "layouts/components/banner", title: title %>



<div class="banner-list" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, height: 350, crop: :fill %>);">
  <div class="container d-flex justify-content-center">
    <h1><%= @list.name %> </h1>
  </div>
</div>

<div class="container d-flex justify-content-center mt-2">
  <%= link_to "Bookmark a Movie", new_list_bookmark_path(@list), class:"btn-flat" %>
</div>

<div class="cards">
  <%@list.movies.each do |movie|%>
    <%= render "movies/movie_card", movie: movie %>
  <% end %>
</div>
